*

# Unignore all with extensions
!*.*
!**/Dockerfile
# Unignore all dirs
!*/
!api
*.exe
*.exe~
*.dll
*.so
*.dylib
script
.idea
logs
*.test
*_test.go
test
*.out
*.yaml
!docker-compose.yaml
!docker
!makefile